{% extends 'base.html.twig' %}

{% block title %}Update User{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-primary" style="margin-top:10%">
				<div class="panel-heading">
					<h3 class="panel-title">Update User</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="/api/user" method="POST"
						  novalidate>
						<div class="form-group">
							<label for="inputName" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputName" name="name"
									   value="{{users.name}}" autofocus>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-block">Update</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<a href="/">&larr; Back</a>

		</div>
	</div>

</div>

{% endblock %}