{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="margin-top:5%">

			<a href="/user/create" class="btn btn-primary">Add User</a>

			<table class="table table-condensed table-striped" style="margin-top:5%">
				<thead>
					<tr>
						<th>Name</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td>{{user.name}}</td>
						<td>
							<ul class="list-inline" style="margin:0">
								<li><a href="/api/user/{{user.id}}">View</a></li>
								<li><a href="/user/{{user.id}}/edit">Edit</a></li>
								<li><a href="/api/user/{{user.id}}">Delete</a></li>
							</ul>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>



{% endblock %}